---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>

  <div class="entry">
    {{ content }}
  </div>

  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>

  {% raw %}
    <iframe src="https://itunes.apple.com/us/playlist/headspace/idpl.49fa4124be174a3da9e5ec43b0d07e65?app=music" height="500px" width="100%" frameborder="0"></iframe>
    <iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width=298 height=52 src="http://music.163.com/outchain/player?type=2&id=29750802&auto=0&height=32"></iframe>
  {% endraw %}


  {% include disqus.html %}
</article>
